@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0000;
  --foreground: #0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  color: #000;
  background: var(--background);
  font-family: 'parastoo';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}